{% extends "blogs/header.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="bannerImage">Banner Image</label>
                <input type="file" name="banner" class="form-control" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>

            <div class="mb-3">
                <label for="categoryTitle">Category Title</label>
                <select class="form-select" name="category" required aria-label="Select Category">
                    <option value="">Select Category</option>
                    {% for category in categories %}
                        <option style="color: black;" value="{{category.id}}">{{category.category_name}}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Select One Option</div>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Blog Title</label>
                <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Enter your blog title">
              </div>

            <div class="mb-3">
                {{frm.media}}
                {{frm.as_p}}
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}